<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Acronym Search</title>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <!-- Optional theme -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <!-- AngularJS framework -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
  <!-- My javascript functions -->
  <script type="text/javascript" src="javascript_functions.js"></script>
</head>

<body>

<div class="well">
  <a href="/"><img alt="Logo" class="img-responsive" src="/public/rockwell-logo.png"></img></a>
  <!-- <img alt="Listen" class="img-responsive" align="right" style="height:140px" src="https://www.rockwellautomation.com/resources/images/rockwellautomation/logo_print-lts.jpg"></img> -->
</div>

<div ng-app="acronymApp">
  <div ng-controller="searchCtrl">
    <!-- The RA logo and Acronym Database header -->
    <div style="margin-top:89px"></div>
    <div class = "container">
      <img alt="Rockwell Automation" style="width:65%" class="img-responsive center-block" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Rockwell_Automation_logo.svg/2000px-Rockwell_Automation_logo.svg.png">
      <font face="Arial" color="#BA1619"><h1 class ="text-center" style="font-size:42px">Acronym Database</h1></font>
    </div>

    <div class="container">
      <div id="infoModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3 class="modal-title">Additional information about "{{acronym}}"</h3>
            </div>
            <div class="modal-body">
              <h4>Meaning:</h4>
              <p>{{definition}}</p>
              <h4>Comment(s):</h4>
              <p>{{comment}}</p>
              <h4>Groups associated with this acronym:</h4>
              <li>Sample group 1</li>
              <li>Sample group 2</li>
              <li>Sample group 3</li>
                <br>
              <p>Acronym added by [Rockwell username] on [month/day/year] at [time 00:00:00]</p>
              <P>This acronym has been viewed {{clicks}} times</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Search bar and alert modals-->
    <div class="container text-nowrap" id="searchBar">
      <div class="col-lg-12 input-group">
        <input ng-keyup="search()" id="searchInput" type="text" class="form-control" placeholder="Search acronym here..."></input>
        <span class="input-group-btn">
          <button ng-click="search()" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span> Enter
          </button>
        </span>
      </div>
       <!-- The data menu that is displayed when user searches for an acronym -->
       <div class="form-control" ng-show="setDisplay" style="height:170px; overflow:auto">
        <p id="dataMenu" ng-class="{highlight: hover}" ng-mouseenter="hover=true" ng-mouseleave="hover=false" ng-repeat="x in records" ng-click="infoPage($index)" ng-bind-html="x"></p>
       </div>

       <!-- Modal that indicates user successfully added acronym -->
       <div id="successModal" class="modal fade" role="dialog">
         <div class="modal-dialog">
           <!-- Modal content-->
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Success!</h4>
             </div>
             <div class="modal-body">
               <p>Your acronym was added to the database. Thank you!</p>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
           </div>
         </div>
       </div>

       <!-- Modal that alerts user to add an abbreviation if field left blank -->
       <div id="abbrevAlert" class="modal fade" role="dialog">
         <div class="modal-dialog">
           <!-- Modal content-->
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Oops!</h4>
             </div>
             <div class="modal-body">
               <p>Please enter an abbreviation for the acronym.</p>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
           </div>
         </div>
       </div>

       <!-- Modal that alerts user to add a definition if field left blank -->
       <div id="defAlert" class="modal fade" role="dialog">
         <div class="modal-dialog">
           <!-- Modal content-->
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Oops!</h4>
             </div>
             <div class="modal-body">
               <p>Please enter a definition for the acronym.</p>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
           </div>
         </div>
       </div>
    </div>
  </div>

  <!-- The "Add Acronym" button displayed on the main page -->
  <div class = "container" ng-controller="addAcronymCtrl">
    <div ng-hide="addAcronymElements">
      <div class="container" id="addButton1">
         <br></br>
         <div class="col-md-2 col-md-offset-5">
           <button ng-click="addAcronymElements=true" type="button" class="btn btn-default" id="add">
             <table>
               <tbody>
                 <tr>
                   <td><i class="glyphicon glyphicon-plus-sign text-success" style="font-size:300%"></i></td>
                   <td class="align-text-top col-md-6 text-nowrap" style="font-size:150%">Add Acronym</td>
                 </tr>
               </tbody>
             </table>
           </button>
         </div>
       </div>
       <br></br>
       <p ng-hide="text1" class="text-center" style="font-size:150%">Help us maintain the data table by adding acronyms as you encounter them! Thanks in advance for your contribution!</p>
       <p ng-show="text2" class="text-center" style="font-size:150%">Are we missing an acronym? Please add it! Thanks in advance for your contribution!</p>
     </div>

     <!-- Add Acronym form -->
     <div ng-show="addAcronymElements">
       <legend></legend>
       <legend>Add Acronym</legend>
       <fieldset class="well">
         <p>
           <label>Abbreviation:</label>
           <input type="text" id="abbrev" placeholder=" (Example): OEM">
         </p>
         <p>
           <div class="form-group"><label>Definition</label>
             <textarea class="form-control" rows="3" id="def" placeholder="(Example): Original Equipment Manufacturer"></textarea>
           </div>
         </p>
         <p>
           <div class="form-group"><label>Comment (optional)</label>
             <textarea class="form-control" rows="2" id="comment"></textarea>
           </div>
         </p>
       </fieldset>
       <!-- The "Add!" button -->
       <div class="text-center"><button ng-click="add()" type="button" id="addButton2" class='btn btn-primary btn-lg'>Add!</button><br></br></div>
       <!-- "Thank you for your contribution..." text -->
       <div class="container" id="thanks2"><p class='text-center' style="font-size:150%">Thank you for your contribution to our acronym search!</p></div>
       <!-- Back button -->
       <div class="text-center"><button type="button" class="btn" id="back" ng-click="addAcronymElements=false"> < Back</button><br></br></div>
     </div>
   </div>
</div>

<!-- Footer containing copyright and links to additional pages-->
<div class="footerfix"></div>
<footer>
  <div class="container" style="display:inline">
    <p class="text-muted text-center">
        <a href="/about">About</a> |
        <a href="/privacypolicy">Privacy Policy</a>
        | Copyright © 2017 Rockwell Automation, Inc. All Rights Reserved. |
        <a href="/contact">Contact</a>
    </p>
  </div>
</footer>

</body>
</html>
